# docker
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose.local.yaml

# git
/.git
.gitignore

# github
/.github

# node
node_modules
**/.node_modules

**/dist
**/dist_keycloak
**/.storybook

# project
/docs
/infrastructure
*.md
LICENSE

# rust
target

# webapp
front/.editorconfig
front/.gitignore
front/.prettierrc
