services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ndi
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5454:5432"

volumes:
  pgdata:
